<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <tr>
        <th width="100%">
            @Html.Partial("InsuranceFooter")
        </th>
    </tr>
</body>
</html>
