@model IEnumerable<insuranceApp1.Models.Policy>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserPolicyLayout.cshtml";
}

<h1>Policy</h1>
<h3>Welcome , @ViewBag.UserName</h3>

<table class="table" width="100%" border="1">
    <thead>
        <tr>
            <th>
                PolicyId
            </th>
            <th>
                PolicyType
            </th>
           
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PolicyId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PolicyType)
                </td>
                
                <td>

                    <a asp-action="Details" asp-route-id="@item.PolicyId">GetPolicyDetails</a> 

                </td>
            </tr>
        }
    </tbody>
</table>
