
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/AccessDeniedLayout.cshtml";
}

<h1>AccessDenied</h1>
<p>You do not have permission to access this page.</p>
<a href="/Home/Index">Return to Home</a>
