
@{
    ViewData["Title"] = "UserWelcome";
    Layout = "~/Views/Shared/UserWelcomeLayout.cshtml";
}

<h1>Welcome , @ViewBag.UserName</h1>

<a href="https://localhost:7024/" class="text-decoration-none">SignOut</a>